.logo{
    width: 150px;
    margin-left: 20px;
}

.navbar{
    display: flex;
    height: 100px;

    justify-content: space-between;
}

.nav-links{
    display: flex;
    align-items: center;
}

.nav-links p{
    font-weight: 400;
    font-size: 20px;
    font-family: sans-serif;
    margin-right: 25px;
    color: #65737e;
    cursor: pointer;
}

.nav-links-mobile{
    display: none;
}

.notify-text{
    margin-left: 10px;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 21px;
}

@media(max-width: 576px){
    .nav-links{
        display: none;
    }
    .nav-links-mobile{
        display: block;
    }
    .logo{
        width: 100px;
        height: 100px;
        margin: 0;
    }
    .navbar{
        align-items: center;
        height: 60px;
        padding: 0 26px;
    }
}